**/.github
**/.git
**/.gitignore
**/.vscode
**/__pycache__
**/logs/*
**/data/*
*.properties
*.bat
*.json
*.pickle
*.log
*.db
*.md
*.yml
**/conf.py
/data/*
/logs/*
Dockerfile
.env
.env.example
.pylintrc
.flake8
.dockerignore
