**/.github
**/.git
**/.gitignore
**/.vscode
**/__pycache__
**/logs/*
**/data/*
*.properties
*.bat
*.json
*.pickle
*.log
*.db
**/conf.py
*docker-compose.yml
*README.md
*LICENSE.md
*Dockerfile
*.env
*.pylintrc
*.flake8
*.dockerignore
